<!DOCTYPE html>
<head>
    <title>HASIL PENCARIAN</title>
</head>
<body style="background-size:cover" background="http://www.itaniumsolutions.org/pics/max/12/120673_all-pokemon-wallpaper-hd.jpg">
    <h1 style="color: black">POKEMON</h1>
    
    <h2 style="color:black"> {{a1.upper()}} VS  {{a2.upper()}} </h2>
    <img src={{f}} alt = 'pokemon1' width="250" height="250">
    <img src="http://127.0.0.1:5000/grafik/{{zz}}" width="700" height="450">
    <img src={{e}} alt = 'pokemon1' width="250" height="250">
    <h3> Prediksi: </h3>
    <h2> Pemenang: {{p}}</h2>
    <h2> Presentase : {{prob}} %</h2>

    <button type="button"><a href="http://localhost:5000/">KEMBALI</a></button>
</body>
</html>